:root {
    --beige: #F6683B;
}

body {
    background-color: #142F44;
}
#retry {
    display: none;
    background-color: #4CAF50;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

#retry:hover {
    background-color: #3e8e41;
  }

.snake-container {
    background-color: var(--beige);
    border-radius: 20px;
    padding: 30px;
    padding-top: 0;
    margin-top: 40px;
}
/* Remove bootstrap padding */
.snake-canvas {
    padding: 0;
    background-color: white;
}

.snake-header {
    padding: 10px 0px;
}

